# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df_students = pd.DataFrame()
df_marks = pd.DataFrame()

In [9]:
df = pd.DataFrame()
for i in range(10):
    students_temp = pd.read_csv(f"iad-intro-ds/2023/homeworks/Data/Students_info_{i}.csv")
    marks_temp = pd.read_csv(f'iad-intro-ds/2023/homeworks/Data/Students_marks_{i}.csv')
    df_students = pd.concat([df_students, students_temp])
    df_marks = pd.concat([df_marks, marks_temp])

df = pd.merge(df_students, df_marks, on='index', how='inner')

print(df.shape)

(1000, 10)

In [10]:
df.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [11]:
df = df[df.columns.drop('index')]
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [12]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [13]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [14]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [15]:
df.loc[:,['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [16]:
df.groupby(by='test preparation course')[['math score', 'reading score', 'writing score']].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [17]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [18]:
df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [19]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [20]:
(df['math score'] > passmark).value_counts(normalize=True)

math score
True     0.85
False    0.15
Name: proportion, dtype: float64

In [21]:
((df['gender'] == 'female') & (df['math score'] > passmark)).value_counts(normalize=True)

False    0.579
True     0.421
Name: proportion, dtype: float64

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [22]:
ethnic_groups = df.groupby('race/ethnicity')
%time 
ethnic_groups['reading score'].mean()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 13.1 µs

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [23]:
%%time 
ethnic_groups['writing score'].min()

CPU times: user 462 µs, sys: 264 µs, total: 726 µs
Wall time: 1.25 ms

race/ethnicity
group A    19
group B    15
group C    10
group D    32
group E    22
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [24]:
%%time 
ethnicities = df['race/ethnicity'].unique()
mean_reading_score_python = {}

for ethnicity in ethnicities:
    total_score = 0
    count = 0

    for index, row in df.iterrows():
        if row['race/ethnicity'] == ethnicity:
            total_score += row['reading score']
            count += 1

    if count > 0:
        mean_score = total_score / count
    else:
        mean_score = 0

    mean_reading_score_python[ethnicity] = mean_score

CPU times: user 199 ms, sys: 3.63 ms, total: 203 ms
Wall time: 202 ms

In [25]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [26]:
df_copy = df.drop(['race/ethnicity', 'lunch', 'test preparation course', 'group'], axis=1)
grouped_sex = pd.pivot_table(data=df_copy, index=['gender', 'parental level of education'])
grouped_sex

                                    math score  reading score  writing score
gender parental level of education
female associate's degree            65.250000      74.120690      74.000000
       bachelor's degree             68.349206      77.285714      78.380952
       high school                   59.351064      68.202128      66.691489
       master's degree               66.500000      76.805556      77.638889
       some college                  65.406780      73.550847      74.050847
       some high school              59.296703      69.109890      68.285714
male   associate's degree            70.764151      67.433962      65.405660
       bachelor's degree             70.581818      68.090909      67.654545
       high school                   64.705882      61.480392      58.539216
       master's degree               74.826087      73.130435      72.608696
       some college                  69.009259      64.990741      63.148148
       some high school              67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [38]:
df = df.drop(['Math pass', 'writing pass', 'reading pass'], axis=1)

In [39]:
df.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93

In [40]:
def f(mark):
    if mark < passmark:
        return 'F'
    else:
        return 'P'

subjects = ['math score', 'writing score', 'reading score']
df[['Math pass', 'writing pass', 'reading pass']] = df[subjects].applymap(f)
df.head(4)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math pass,writing pass,reading pass
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,F,P

In [44]:
(df[['Math pass', 'writing pass', 'reading pass']] == ('P', 'P', 'P')).value_counts()

Math pass  writing pass  reading pass
True       True          True            812
False      True          True             62
           False         False            55
True       False         False            23
                         True             22
False      False         True             14
True       True          False             8
False      True          False             4
Name: count, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [50]:
def fun(row):
    if all(row == 'P'):
        return 'P'
    else:
        return 'F'

df['Over All Pass Status'] = df[['Math pass', 'writing pass', 'reading pass']].apply(fun, axis=1)
df.head(8)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math pass,writing pass,reading pass,Over All Pass Status
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P,P
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P,P
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F,F

In [51]:
def fun(row):
    if row != ['P', 'P', 'P']:
        return 'F'
    else:
        return 'P'

df['Over All Pass Status'] = df[['Math pass', 'writing pass', 'reading pass']].apply(fun, axis=1)
df.head(8)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [56]:
def GetGrade(average_mark):
    average = average_mark.mean()
    if average >= 90:
        return 'A'
    elif average >= 80:
        return 'B'
    elif average >= 70:
        return 'C'
    elif average >= 60:
        return 'D'
    elif average >= 50:
        return 'E'
    else:
        return 'F'
    
    

df['Grade'] = df[subjects].apply(GetGrade, axis=1)
df.head(16)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math pass,writing pass,reading pass,Over All Pass Status,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P,P,C
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P,P,A
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F,F,F
8,male,group D,high school,free/reduced,completed,group1,64,64,67,P,P,P,P,D
9,female,group B,high school,free/reduced,none,group1,38,60,50,F,P,P,F,F
10,male,group C,associate's degree,standard,none,group1,58,54,52,P,P,P,P,E
11,male,group D,associate's degree,standard,none,group1,40,52,43,F,F,P,F,F
12,female,group B,high school,standard,none,group1,65,81,73,P,P,P,P,C
13,male,group A,some college,standard,completed,group1,78,72,70,P,P,P,P,C
14,female,group A,master's degree,standard,none,group1,50,53,58,P,P,P,P,E
15,female,group C,some high school,standard,none,group1,69,75,78,P,P,P,P,C